# --- Local virtual environments ---
adl_env/
venv/
.env/

# --- Local data / datasets ---
data/
datasets/


__pycache__/
*.pyc*.pth
*.pth

demo_out/
outputs/
runs/
logs/
*.log

checkpoints/
*.pth
*.pt
*.ckpt
*.onnx


.ipynb_checkpoints/

.DS_Store
.vscode/
.idea/

